body {
  color: #343434;
}

p {
  line-height: 1.4;
  word-break: keep-all;
}

.sec {
  padding: 100px 0;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn_o {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
}
